
/*arrière plan*/

  body{
       background-color: grey;
      }

/*------------------------------------------------------------*/

/*les titres*/

  h1,h2,h3,h4{
              text-transform: uppercase;
              font-size: 100px;
              border-radius: 30px;
              border: 5px solid black;
              padding: 15px;
              text-shadow: 0px -3px 3px blue;
              box-shadow: 5px 5px 10px blue;
              text-align: center;
              }

/*------------------------------------------------------------*/

/* paragraphes et listes*/

  p{
    text-align: center;
    font-size: 60px;
    padding: 60px;
    padding-left: 30px;
    padding-right: 30px;
    }
    
/*------------------------------------------------------------*/

/*photos*/

  #photos{
          height: 500px;
          border-radius: 30px;
          border: 5px solid black;
          text-shadow: 0px -3px 3px blue;
          box-shadow: 5px 5px 10px blue;
          padding: 50px;
          display: flex;
          overflow: scroll;
          flex-wrap: nowrap;
          overflow-y: hidden;
          }


  .photo{
  
         margin-left: 50px;
        }



  img{
    
      width: 600px;
      }
      

/*------------------------------------------------------------*/

/*liste activité + carte google maps*/

  ul{
     text-align: center;
     font-size: 40px;
     list-style-type: none;
    }
    
  li{
     padding: 20px;
    
  }
    

/*------------------------------------------------------------*/

/*conteneur des logos*/

  .element1{
            display: block;
            }

  #conteneur
            {
            display: flex;
            border-radius: 30px;
            border: 5px solid black;
            padding: 15px;
            text-shadow: 0px -3px 3px blue;
            box-shadow: 5px 5px 10px blue;
            margin: 15px;
            flex-wrap: wrap;
            margin-bottom: 100px;
            text-transform: uppercase;
            font-size: 120px;
            justify-content: space-between;
            padding-right: 50px;
            padding-left: 150px;
            }

  .logo{
        height: 150px;
        width: auto;  
        }
        
/*------------------------------------------------------------*/


/*logo fixe non affiché test*/

.emailfixe{width:300px;position:fixed;top:170px;right:15px;z-index:0;display: none;}
.whatappsfixe{width:300px;position:fixed;top:500px;right:15px;z-index:0;display: none;}
.facebookfixed{width:300px;position:fixed;top:830px;right:15px;z-index:0;display: none;}



/*page accueil*/

.drapeau{

        height: 250px;
        width: auto;   
        }
        
#conteneurpageacceuil{
                      display: flex;
                      padding: 15px;
                      flex-wrap: wrap;
                      text-transform: uppercase;
                      justify-content: space-between;
                      }
                      
/*pied de page*/

footer{
        text-transform: uppercase;
        font size: 20px;
        text-align: center;
  
        }
.drapeau1{
            height: 25px;
            width: auto;   
  
          }
          
          

